/* BUTTON */
.btn-indigo {
  color: var(--white);
  border: var(--indigo);
  background-color: var(--indigo);
}

.btn-indigo:not(.disabled):not(.active):hover {
  background-color: var(--indigo);
}

.btn-indigo:not(.disabled):not(.active):focus {
  background-color: var(--indigo);
}

.text-indigo {
  color: var(--indigo);
}
